<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" href="src/styles.css">

  <script src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-ui-ace/ui-ace.js"></script>
  <script src="bower_components/spin.js/spin.js"></script>
  <script src="bower_components/angular-spinner/angular-spinner.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/angularUtils-pagination/dirPagination.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="src/env.js"></script>
  <script src="src/app.js"></script>

  <meta charset=utf-8/>
  <title>Schema Registry UI</title>
</head>

<body ng-app="schemaRegistryUIApp">

<header class="header" ng-controller="HeaderCtrl">
  <div class="container-fluid">
    <div class="dropdown">
      <button md-ink-ripple
              class="dropbtn">
        <img src="src/icons/landoop.svg" style="width:40px;float: left;padding-right:5px;">
        <h4>
          <a style="color:white" ng-href="#/about" href="#/about">
            Schema Registry
            <b class="caret"></b>
          </a>
        </h4>
      </button>
      <div class="dropdown-content">
        <h5>
          <img src="src/icons/kafka-connect.svg" width="20px"
               style="color:white;float: left;margin-left: 20px;margin-top: 10px;">
          <a md-ink-ripple href="//kafka-connect-ui.landoop.com" style="color:white;padding-left:55px;">Kafka connectors</a>
        </h5>
      </div>
    </div>
  </div>
</header>

<section class="header-section">
</section>

<div us-spinner="{radius:10, width:3, length: 5}" ng-show="showSpinner" style="height:100%"></div>
<div class="container-fluid" style="min-height: calc(100vh - 110px)">
  <div class="row">
    <div class="col-md-4" ng-controller="MainCtrl" ng-hide="showSpinner">
      <div class="form-group" style="margin: 2px;padding-bottom:10px;">
        <input type="text"
               style="box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);border:0px !important"
               class="form-control" id="search" placeholder="search" ng-model="search">
      </div>
      <md-card-title>
        <div class="list-group"
             style="margin: 2px;box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);border-radius: 4px;">
          <a
            dir-paginate="subjectItem in subjectCACHE | orderBy:'-schema.length' | filter : search | itemsPerPage: 10"
            ng-href="/#/subject/{{subjectItem.subjectName}}/version/{{subjectItem.version}}"
            class="list-group-item"
            style="border-top: 1px solid #ddd;border-bottom: 0px;">
            {{subjectItem.subjectName}}
            <span ng-if="subjectItem.version == 1"
                  class="label label-primary pull-right">v {{subjectItem.version}}</span>
            <span ng-if="subjectItem.version > 1" class="label label-primary pull-right"
                  style="background-color:#5cb85c;">v {{subjectItem.version}}</span>
          </a>
        </div>
      </md-card-title>
      <dir-pagination-controls></dir-pagination-controls>

      <div
           class="row" style="padding-left:10px;padding-top:0;margin-top: -10px;">
        <a md-ink-ripple
           ng-show="showCreateSubjectButton"
           ng-href="#/create-subject"
           class="md-raised md-primary md-button md-ink-ripple"
           style="background-color: rgba(56, 87, 119, 0.90);color: white;" type="button"
           aria-label="Primary">
          <span class="ng-scope">
            Create subject
          </span>
          <div class="md-ripple-container">
          </div>
        </a>
      </div>
    </div><!-- end of col -->

    <div class="col-md-8">
      <div ng-controller="SubjectsCtrl">
        <div ng-view></div>
      </div>
    </div>

  </div> <!-- end of row -->

</div> <!-- end of container -->

<md-toolbar style="height: 30px;min-height: 30px;max-height: 30px;padding-top:5px;background-color: #4F6375;color:white;"
            ng-controller="HeaderCtrl">
  <div layout="row" layout-align="" style="font-size: 11pt;" flex>
    <div class="col-md-1"></div>
    <div class="col-md-4">schema.registry.url = {{schemaRegistryURL}}
      <span ng-show="connectionFailure" style="color:red">CONNECTIVITY ERROR</span>
    </div>
    <div class="col-md-4">COMPATIBILITY LEVEL = {{config.compatibilityLevel}}</div>
  </div>
</md-toolbar>

</body>

<!--CUSTOM-FOOTER-->
</body>
</html>
