<md-card ng-controller="SubjectListCtrl" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}">
  <md-toolbar style="background-color: #ededed; color:#000;">
    <div class="md-toolbar-tools">
      <h3>
        <span>{{allSchemas.length}} Schemas</span>
      </h3>
      <span flex></span>
      <a md-ink-ripple ng-show="true" ng-href="/#/schema/new"
         class="md-raised md-primary md-button md-ink-ripple"
         style="background-color: rgb(65, 191, 236);color: white;" type="button"
         aria-label="new connector">New</a>
    </div>
  </md-toolbar>

  <div us-spinner="{radius:10, width:3, length: 5}" ng-hide="allSchemas" style="height:100%"></div>
  <md-content ng-show="allSchemas">
    <md-input-container class="md-block" style="margin-bottom:0;padding-bottom:0;">
      <label>Search schemas</label>
      <input ng-model="search">
    </md-input-container>

    <md-list flex>
      <md-list-item class="md-list-item-text"
                    dir-paginate="schema in allSchemas | orderBy:'-schema.length' | filter : search | itemsPerPage: 10"
                    ng-href="/#/schema/{{schema.subjectName}}/version/{{schema.version}}"
                    ng-click="handleList();"
                    style="margin:0;padding:0"
                    aria-label="{{schema.subjectName}}">

        <!-- Custom rendering for selected schema -->
        <div ng-if="subjectObject.subjectName == schema.subjectName">
          <div class="md-list-item-text" layout="column" style="border-bottom:2px dotted #ccc;">
            {{schema.subjectName}}
            <md-chips>
              <md-chip ng-show="schema.version > 1"
                       style="background-color:#5cb85c;color:white;border-radius: 6px;"
                       class="md-secondary md-caption">v.{{schema.version}}
              </md-chip>
              <md-chip ng-show="schema.version == 1"
                       style="background-color:#286090;color:white;border-radius: 6px;"
                       class="md-secondary md-caption">v.{{schema.version}}
              </md-chip>
            </md-chips>
          </div>
        </div>
        <div ng-if="subjectObject.subjectName != schema.subjectName">
          <div class="md-list-item-text" layout="column"> {{schema.subjectName}}
            <md-chips>
              <md-chip ng-show="schema.version > 1"
                       style="background-color:#5cb85c;color:white;border-radius: 6px;font-size:12px;"
                       class="md-secondary md-caption">v.{{schema.version}}
              </md-chip>
              <md-chip ng-show="schema.version == 1"
                       style="background-color:#286090;color:white;border-radius: 6px;font-size:12px;"
                       class="md-secondary md-caption">v.{{schema.version}}
              </md-chip>
            </md-chips>
          </div>
        </div>

      </md-list-item>
    </md-list>
    <dir-pagination-controls style="margin: 20px 20px;"></dir-pagination-controls>
  </md-content>
</md-card>

