<div style="position:fixed;top: 0;right: 30px;z-index: 999;">
  <!-- When in non-editable state, display the EDIT button -->
  <a ng-show="!isAvroAceEditable" ng-click="toggleEditor();" class="editbutton md-raised md-warn md-button md-ink-ripple"
     style="" type="button" aria-label="Primary" href=""
     aria-hidden="false">
          <span class="ng-scope">
            EDIT
          </span>
    <div class="md-ripple-container">
    </div>
  </a>
  <!-- When in edit-state, display the CANCEL button -->
  <a ng-show="isAvroAceEditable" ng-click="cancelEditor();" class="md-raised md-warn md-button md-ink-ripple"
     style="padding-left:10px;padding-right:10px;background-color:white;color: black;" type="button" aria-label="Primary" href=""
     aria-hidden="false">
          <span class="ng-scope">
            CANCEL
          </span>
    <div class="md-ripple-container">
    </div>
  </a>
  <!-- When in edit-state, display the TEST button -->
  <a ng-show="isAvroAceEditable && !isAvroUpdatedAndCompatible" ng-click="testAvroCompatibility();" class="md-raised md-warn md-button md-ink-ripple testbutton"
     style="" type="button" aria-label="Primary" href=""
     aria-hidden="false">
          <span class="ng-scope">
            TEST
          </span>
    <div class="md-ripple-container">
    </div>
  </a>

  <!-- When in edit-state, and Avro is Updated and Compatible display the UPDATE button -->
  <a ng-show="isAvroAceEditable && isAvroUpdatedAndCompatible" ng-click="evolveAvroSchema();" class="md-raised md-warn md-button md-ink-ripple"
     style="padding-left:10px;padding-right:10px;background-color: #8bc34a;color: white;" type="button" aria-label="Primary" href=""
     aria-hidden="false">
          <span class="ng-scope">
            EVOLVE SCHEMA
          </span>
    <div class="md-ripple-container">
    </div>
  </a>
</div>
<div id="left"
     ng-model="aceString"
     ng-readonly="!isAvroAceEditable"
     ng-style="{'background-color':aceBackgroundColor}"
     ui-ace="{
                              useWrapMode: true,
                              showGutter: false,
                              theme:'chrome',
                              mode: 'json',
                              firstLineNumber: 1,
                              onLoad: viewSchemaAceLoaded,
                              onChange: viewSchemaAceChanged,
                              highlightActiveLine: false,
                              highlightGutterLine: false,
                              showPrintMargin:false
                              }"></div>
