<div id="left"
     ng-model="aceString"
     ng-readonly="!isAvroAceEditable"
     ng-style="{'background-color':aceBackgroundColor}"
     ui-ace="{
                              useWrapMode: true,
                              showGutter: false,
                              theme:'chrome',
                              mode: 'json',
                              firstLineNumber: 1,
                              onLoad: viewSchemaAceLoaded,
                              onChange: viewSchemaAceChanged,
                              highlightActiveLine: false,
                              highlightGutterLine: false
                              }"></div>

<center>
  <!-- When in non-editable state, display the EDIT button -->
  <a ng-show="!isAvroAceEditable" ng-click="toggleEditor();" class="md-raised md-warn md-button md-ink-ripple"
     style="background-color: rgb(65, 191, 236);color: white;" type="button" aria-label="Primary" href=""
     aria-hidden="false">
          <span class="ng-scope">
            EDIT
          </span>
    <div class="md-ripple-container">
    </div>
  </a>
  <!-- When in edit-state, display the CANCEL button -->
  <a ng-show="isAvroAceEditable" ng-click="cancelEditor();" class="md-raised md-warn md-button md-ink-ripple"
     style="background-color:white;color: black;" type="button" aria-label="Primary" href=""
     aria-hidden="false">
          <span class="ng-scope">
            CANCEL
          </span>
    <div class="md-ripple-container">
    </div>
  </a>
  <!-- When in edit-state, display the TEST button -->
  <a ng-show="isAvroAceEditable" ng-click="testAvroCompatibility();" class="md-raised md-warn md-button md-ink-ripple"
     style="background-color: rgb(65, 191, 236);color: white;" type="button" aria-label="Primary" href=""
     aria-hidden="false">
          <span class="ng-scope">
            TEST
          </span>
    <div class="md-ripple-container">
    </div>
  </a>

</center>