<md-card ng-show="subjectObject">

  <md-toolbar style="background-color: #ededed; color:#000;">

    <!--<div class="md-toolbar-tools">-->
    <div layout="row" layout-xs="column" layout-align="center center" layout-wrap>
      <div flex>
        <h3 class="md-toolbar-tools" style="padding:0px;" hide-xs>
          <div layout="row" style="height: 64px;">
            <md-icon class="md-avatar-icon" md-svg-icon="src/assets/icons/avro.svg"
                     style="height: 40px;width: 40px;padding: 5px;background-color: rgba(255,255,255,0.87);border-radius: 60px;margin-left: 10px;margin-right: 10px;">
            </md-icon>
            <!--<md-tooltip md-direction="top" style="margin-top:15px;margin-left:-20px">-->
            <!--Schema [{{subjectObject.subjectName}}]-->
            <!--</md-tooltip>-->
            <div layout="column" style="padding-top: 12px;padding-bottom: 12px;">

              <div flex><span style="color: black;">{{subjectObject.subjectName}}</span></div>
              <div flex>
                  <span>
                    <p class="md-caption"
                       style="margin-top:10px;margin-bottom:0px;">
                      SCHEMA ID: {{subjectObject.id}}
                    </p>
                  </span>
              </div>
            </div>
          </div>
        </h3>
        <!--Mobile version only-->
        <h3 class="md-toolbar-tools" style="margin-top:10px;text-align:center;" hide-gt-xs>
          <div layout="column">
            <div flex><span style="color: black;">{{subjectObject.subjectName}}</span></div>
            <div flex>
                  <span>
                    <p class="md-caption"
                       style="margin-top:10px;margin-bottom:0px; text-align:center;">
                      SCHEMA ID: {{subjectObject.id}}
                    </p>
                  </span>
            </div>
          </div>
        </h3>
        <span flex></span>
      </div>

      <div flex-gt-sm="nogrow" flex style="padding-right:25px;">
        <md-button ng-hide="multipleVersionsOn"
                   md-no-ink
                   style="color:#424242;"
                   disabled>
          version {{subjectObject.version}}
        </md-button>

        <md-menu d-position-mode="target-right target" ng-show="multipleVersionsOn">
          <md-button style="color: white; background-color: rgba(139, 195, 74,0.9)" class="md-raised" ng-click="$mdOpenMenu($event)">
            version {{subjectObject.version}}
            <i class="fa fa-caret-down" aria-hidden="true"></i>
          </md-button>
          <md-menu-content width="3">
            <md-menu-item ng-repeat="version in otherVersions | orderBy:'version'">
              <md-button click-link="/schema/{{subjectObject.subjectName}}/version/{{version}}">
                <span md-menu-align-target="">version</span> {{version}}
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </div>
    <!--</div>-->
  </md-toolbar>
  <md-content flex layout-padding style="padding: 2px;">
    <md-tabs md-dynamic-height md-border-bottom style="padding:0">
      <md-tab>
        <md-tab-label>
          Schema
          <!--<i class="fa fa-file-text-o" style="padding-right:10px;" aria-hidden="true"></i> Schema-->
        </md-tab-label>
        <md-tab-body>
          <md-content class="md-padding">
            <!--put avro here-->
            <div ng-if="aceReady" ng-include="'src/schema-registry/view/avro-viewer.html'"></div>
          </md-content>
        </md-tab-body>
      </md-tab>
      <md-tab ng-if="aceReady && aceString.length > 10" md-on-select="onTabSelected(1)">
        <md-tab-label>
          Info
          <!--<i class="fa fa-table" style="padding-right:10px;" aria-hidden="true"></i> Info-->
        </md-tab-label>
        <md-tab-body>
          <md-content class="md-padding">
            <!-- Nice header -->
            <md-card style="box-shadow:none;">
              <md-card-header style="padding:10px">
                <md-card-avatar>
                  <md-icon class="md-avatar-icon" md-svg-icon="src/assets/icons/avro.svg"
                           style="height: 32px;width: 32px;margin-top: 10px;margin-left: 5px;padding:0;background-color:white"></md-icon>
                </md-card-avatar>
                <md-card-header-text>
                  <span class="md-title"><b>type:</b> {{subjectObject.Schema.type}}</span>
                  <span class="md-title"><b>name:</b> {{subjectObject.Schema.name}}</span>
                  <span class="md-title"><b>namespace:</b> {{subjectObject.Schema.namespace}}</span>
                </md-card-header-text>
              </md-card-header>
              <md-card-content ng-show="subjectObject.Schema.doc != undefined" style="padding-bottom:5px">
                <p class="md-card-image md-caption ng-binding">{{subjectObject.Schema.doc}}</p>
              </md-card-content>
            </md-card>

            <!-- 3a. data table -->
            <md-table-container>
              <table md-table md-row-select="optionsTable.rowSelection" multiple="{{optionsTable.multiSelect}}"
                     ng-model="selected" md-progress="promise">
                <thead ng-if="!optionsTable.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
                <tr md-row>
                  <th md-column md-order-by="name"><span>Name</span></th>
                  <th md-column md-order-by="type"><span>Type</span></th>
                  <th md-column md-order-by="default"><span>Default</span></th>
                  <th md-column md-order-by="doc"><span>Documentation</span></th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row md-select="selected" md-select-id="name" ng-repeat="s in schema">
                  <td md-cell>{{s.name}}</td>
                  <td md-cell>{{s.type}}</td>
                  <td md-cell>{{s.default}}</td>
                  <td md-cell class="md-card-image md-caption">{{s.doc}}</td>
                </tr>
                </tbody>
              </table>
            </md-table-container>

          </md-content>
        </md-tab-body>
      </md-tab>
      <md-tab md-on-select="onTabSelected(1)" ng-if="completeSubjectHistory.length >= 1">
        <md-tab-label>
          <i class="" style="padding-right:10px;" aria-hidden="true"></i> History
        </md-tab-label>
        <md-tab-body>
          <md-content class="md-padding">
            <div ng-show="x.version != 1" ng-repeat="x in completeSubjectHistory | reverse">
              <!--<pre semantic-diff left-obj="x.left.text | json" right-obj="x.right.text | json"></pre>-->
              <h5>Version {{x.version}} <span style="font-weight: 200;">(Schema ID: {{x.id}})</span></h5>
              <pre
                style="background-color:white;font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;"
                line-diff left-obj="x.current | json" right-obj="x.previous | json"></pre>
            </div>
            <h5>Version 1 <span
              style="font-weight: 200;">(Schema ID: {{completeSubjectHistory[0].id}})</span></h5>
            <pre
              style="background-color:white;font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;"
              line-diff
              left-obj="''"
              right-obj="completeSubjectHistory[0].current | json"></pre>
          </md-content>
        </md-tab-body>
      </md-tab>
    </md-tabs>
    <a style="float: right;padding-right: 15px;padding-bottom: 2px;padding-top: 0;" href="http://www.landoop.com/capabilities/kafka" target="_blank">
      <img ng-src="src/assets/icons/landoop-blue.svg" style="width:20px;float: left;padding-right:5px;">
      <p class="md-caption" style="float:left;padding-right:3px;">by</p>
      <p class="md-caption" style="float:right;">Landoop</p>
    </a>
  </md-content>
  <!--old code ends here-->
</md-card>