.ace_editor { height: 400px;}
header.header {background-color:#364A5C ; color: #ebebeb; padding:5px; margin-bottom:0px; }
.header-section {background-color: #4F6375; color: #ebebeb; border-bottom: 1px solid #2b3e50; padding:7px 0px; margin-bottom:20px;}
