<md-card>

  <md-toolbar class="md-hue-2">

    <!--<div class="md-toolbar-tools">-->
    <div layout="row" layout-xs="column" layout-align="center center" layout-wrap>
      <div flex>
        <h3 class="md-toolbar-tools md-padding" hide-xs><i class="fa fa-download" aria-hidden="true" style="margin-right:7px"></i>Export Schemas
        </h3>
        </div>
      </div>
    </md-toolbar>
  <md-content flex  class="md-padding">
    <div>
      <div ng-show="isChecked" >Number of schemas: {{Cache.length}}</div>
      <div ng-hide="isChecked" >Total number of schemas (including all versions): {{allSchemasCache.length}}</div>

      <md-checkbox style="margin:10px"  ng-model="isChecked" aria-label="only latest">
        Export latest only version of each schema
      </md-checkbox><br />

      <md-button ng-show="isChecked" id="latestSchemas" class="btn btn-primary blue">download latest</md-button>
      <md-button ng-hide="isChecked" ng-disabled="allSchemasCache.length < 1" id="allSchemas" class="btn btn-primary blue">download all</md-button>

    </div>
    <!--<div flex="2">-->
      <!--<div class="md-padding">Total number of schemas (including all versions): {{allSchemas.length}}</div>-->
      <!--<md-button ng-click="downloadAllSchemas(allSchemas)" download="allSchemas-{{date}}.txt"  ng-href="{{curlsURL}}">Export all schemas</md-button>-->
    <!--</div>-->
</md-content>
</md-card>